
    <h1 class="jquery">TOP</h1>

    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <%= image_tag 'no_image.jpg',size: '600x300' %>
            </div>
            <div class="swiper-slide">
                <%= image_tag 'noname.png',size: '600x300' %>
            </div>
            <div class="swiper-slide">
                <%= image_tag 'akabeko.png',size: '600x300' %>
            </div>
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
